.sidebar {
    position: absolute;
    left: 0;
    width: $sidebar-size;
    height: 100vh;
    background: #30bbe3;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        font-size: 30px;
        color: white;
        margin-top: 15px;
        cursor: pointer;
        &:hover {
            color: #ebebeb;
        }
    }
    .hidden {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;

        svg {
            opacity: 0;
            transition: opacity 1s;
            &:hover{
                opacity: 1;
            }
        }
    }
}
@media (max-width: $breakpoint) {
    .sidebar {
        width: 100%;
        height: $sidebar-size;
        flex-direction: row;
        svg {
            margin-top: 0;
            margin-left: 15px;
        }
        .hidden {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-bottom: 0;
            padding-right: 10px;

            svg {
                opacity: 0;
                transition: opacity 1s;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}