
@import "~normalize-scss";

@import './constants';

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-image: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.64) 0%, #090A0F 100%),  url(/static/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.content {
    margin-top: 50px;
    height: calc(100% - 50px);
    overflow: auto;
}

#__next {
    overflow: hidden;
    height: 100%;
    > div {
        height: 100%;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding-bottom: 50px;
}