$grey: #bfbfbf;
$breakpoint: 576px;
$sidebar-size: 70px;

body {
}

.container-auth {
    font-family: Helvetica, Ariel, sans;
    background: #252326;
    margin: 0;
    color: white;
    // color: #383838;
    .content {
        margin: auto;
        padding-top: 50px;
        width: 50%;
        form {
            display: flex;
            flex-direction: column;
            input {
                padding: 5px;
                margin: 5px;
                font-size: 16px;
                &.btn {
                    $blue: #30bbe3;
                    background: $blue;
                    color: white;
                    border: 0;
                    &:hover {
                        background: darken($blue, 5%);
                        cursor: pointer;
                    }
                }
            }
        }
        .page-title {
            margin: 0;
        }
    }
}